h1 {
    color: blueviolet;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
p {
    text-align: justify;
    font-style: italic;
    line-height: 30px;
    color: darkmagenta;
}

.home {
    background-color: deeppink;
    border: 5px solid black;
    width: 500px; ;
    height: 150;
}
.about {
    background-color:white;
    border: 5px solid black;
    width: 500px; ;
    height: 150;

}
.contact {
    background-color: deeppink;
    border: 5px solid black;
    width: 500px; ;
    height: 150;
}